body {
    
    background: #81CFE0;
    padding: 0;
    margin: 0;
    font-family: varela-round, serif;
    
}

#container1 {
    display: inline-block;
    margin-top: 0px;
    height: 665px;
    width: 400px;
    background: #34495E;
}

#headerlista {
    margin-top: 20px;
}

#imagen {
    
    width: 80px;
    height: 80px;
}

#tituloNav {
    text-align: center;
    float: right;
    margin-right: 30px;
    font-size: 30px;
    color: aliceblue;

}

#menu {
    margin-top: 200px;
}
