html{
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background: #81CFE0;
    padding: 0;
    margin: 0;
    font-family: varela-round, serif;
    
}

#container1 {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 25%;
    background: #34495E;
}

#headerlista {
    margin-top: 20px;
}

#imagen {
    
    width: 80px;
    height: 80px;
}

#tituloNav {
    text-align: center;
    float: right;
    margin-right: 30px;
    font-size: 20px;
    color: aliceblue;

}

#menu {
    margin-top: 50px;
}

#lista {
    padding-left: 0px;
    margin: 20px 5%;
    list-style: none;
}

#lista li {
    padding: 30px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: #1E8BC3 0px 10px;
    color: white;
    background: #6BB9F0;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

#lista li:hover {
    transform: scale(1.07, 1.07);
    background: #477698;
    box-shadow: #10425c 0px 10px;
    
}

#container2{
    display: block;
    float: right;
    width: 75%;
    height: 100%;
}
#headerSeccion{
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    background: #34495E;
    text-align: center;
}
#tituloSeccion{
    margin: 0px;
    padding: 20px;
    font-size: 40px;
    color: #FFFFFF;
}
#mesas{
    color: #E4F1FE;
    float: left;
    width: 30%;
    height: 77%;
    text-align: center;
}
#ventas{
    color: #E4F1FE;
    text-align: center;
    float: right;
    width: 70%;
    height: 77%;
}
a{
    text-decoration: none;
}
article>input{
    margin: 5px; 
    height: 20px;
    width: 50%;
    color: #E4F1FE;
    border-radius: 4px;
    border: 1px solid #477698;
    background: #477698;
    box-shadow: #10425c 0px 3px;
    transition: 0.2s transform 0s ease-in-out;
}

article>input:hover{
    transform: scale(0.95); 
}
article{
    padding: 10px;
    background: #1E8BC3;
    margin: 30px;
    border-radius: 5px;
    height: 508px;

}

#pie{
    text-align: center;
    padding: 20px;
    border-top: 2px solid #CCC;
    color: #FFFFFF;
}
