html{
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background: #81CFE0;
    padding: 0;
    margin: 0;
    font-family: varela-round, serif;
    
}

#container1 {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 25%;
    background: #34495E;
}

#headerlista {
    margin-top: 20px;
}

#imagen {
    
    width: 80px;
    height: 80px;
}

#tituloNav {
    text-align: center;
    float: right;
    margin-right: 30px;
    font-size: 20px;
    color: aliceblue;

}

#menu {
    margin-top: 50px;
}

#lista {
    padding-left: 0px;
    margin: 20px 5%;
    list-style: none;
}

#lista li {
    padding: 30px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    box-shadow: #1E8BC3 0px 10px;
    color: white;
    background: #6BB9F0;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
}

#lista li:hover {
    transform: scale(1.07, 1.07);
    background: #477698;
    box-shadow: #10425c 0px 10px;
    
}

#container2{
    display: block;
    float: right;
    width: 75%;
    height: 100%;
}
#headerSeccion{
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    background: #34495E;
    text-align: center;
}
#tituloSeccion{
    margin: 0px;
    padding: 20px;
    font-size: 40px;
    color: #FFFFFF;
}
#mesas{
    float: left;
    background: #4183D7;
    width: 250px;
    height: 480px;
    margin: 50px;
    margin-right: 25px;
    border-radius: 7px;
}
#ventas{
    float: right;
    background: #4183D7;
    width: 600px;
    height: 480px;
    margin: 50px;
    margin-left: 25px;
    border-radius: 7px;
}
a{
    text-decoration: none;
}